.search-section {
    display: flex;
    flex-direction: column;
    margin: 54px 90px;
}

.search-container {
    display: flex;
    flex-direction: column;
    background-color: #e6f7ff;
    border-radius: 16px;
    width: 1250px;
    padding: 54px 31px;
}

.search-container h1 {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 12px;
}

.search-container input {
    padding: 8px 27px;
    width: 298px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 24px;
    color: #bfbfbf;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
}

.search-container button {
    font-size: 16px;
    width: 101px;
    height: 40px;
    border-radius: 4px;
    background-color: #1890FF;
    color: #FFF;
}

button {
    display: block;
}

.profile-container {
    display: flex;
    flex-direction: row;
    padding: 43px 38px;
    max-width: 1250px;
    background-color: #f5f5f5;
    margin-top: 54px;
    border-radius: 8px;
}

.profile-container img {
    width: 247px;
    height: 247px;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 860px;
    height: 247px;
    background-color: #FFF;
    padding: 8px 10px;
    margin-left: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

.info-container h2 {
    margin: 5px 14px;
    color: #1890FF;
    font-weight: 500;
    font-size: 20px;
}

.field {
    border: 1px solid #d9d9d9;
    margin: 5px 14px;
    display: flex;
    flex-direction: row;
    padding: 8px 10px;
    border-radius: 4px;
}

.field a {
    color: #0029ff;
}

.field span {
    font-weight: bold;
    color: #737373;
    margin-right: 10px;
}

.field p {
    color: #737373;
}


