.home-section {
    display: flex;
    flex-direction: column;
    margin: 27px 41px;
}

.home-section h1 {
    font-size: 48px;
    font-weight: bold;
}

.home-section h3 {
    color: #7E7E7E;
    font-size: 24px;
    margin-bottom: 27px;
}

.home-section button {
    font-size: 16px;
    width: 101px;
    height: 40px;
    border-radius: 4px;
    background-color: #1890FF;
    color: #FFF;
}